.DS_Store
example/ios/exampleWizViewManager.xcodeproj/xcuserdata/*
example/ios/exampleWizViewManager.xcodeproj/project.xcworkspace/*
example/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*
example/ios/www/*
!example/ios/www/cordova-2.5.0.js
