<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="jp.wizcorp.phonegap.plugin.wizViewManagerPlugin"
    version="1.3.0">

    <name>Wizard View Manager Plugin</name>
    
    <description>This plugin allows you to create and control native UIWebViews.</description>
    
    <author>Ally Ogilvie - aogilvie@wizcorp.jp</author>
    
    <keywords>webview, view, wizcorp, wizard</keywords>
	
	<engines>
	    <engine name="cordova" version=">=2.6.0" />
	</engines>

    <license>MIT</license>

    <js-module src="www/phonegap/plugin/wizViewManager/wizViewManager.js" name="wizViewManagerPlugin" target="phonegap/plugin/wizViewManager/wizViewManager.js">
        <clobbers target="window.wizViewManager" />
    </js-module>
    <js-module src="www/phonegap/plugin/wizViewManager/wizViewMessenger.js" name="wizViewMessenger" target="phonegap/plugin/wizViewManager/wizViewMessenger.js">
        <clobbers target="window.wizViewMessenger" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
        	<feature name="WizViewManagerPlugin">
                <param name="ios-package" value="WizViewManagerPlugin"/>
                <param name="onload" value="true" />
            </feature>
        	<plugin name="WizViewManagerPlugin" value="WizViewManagerPlugin"/>
        </config-file>
               
        <!-- Plugin files -->
        <header-file src="platforms/ios/HelloCordova/Plugins/WizViewManagerPlugin/WizViewManagerPlugin.h" />
        <source-file src="platforms/ios/HelloCordova/Plugins/WizViewManagerPlugin/WizViewManagerPlugin.m" compiler-flags="-fno-objc-arc" />
        
        <header-file src="platforms/ios/HelloCordova/Plugins/WizViewManagerPlugin/WizWebView.h" />
        <source-file src="platforms/ios/HelloCordova/Plugins/WizViewManagerPlugin/WizWebView.m" compiler-flags="-fno-objc-arc" />
        	
        <!-- Logger -->
        <source-file src="platforms/ios/HelloCordova/Plugins/WizViewManagerPlugin/WizDebugLog.h" compiler-flags="-fno-objc-arc" />

    </platform>
    
    <!-- android -->
    <platform name="android">
    
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="WizViewManagerPlugin" >
				<param name="android-package" value="jp.wizcorp.phonegap.plugin.wizViewManager.WizViewManagerPlugin"/>
				<url-filter value="wizpostmessage://"/>
			</feature>
	    </config-file>
	    
	    <config-file target="AndroidManifest.xml" parent="/manifest/application">
	        <activity android:name="com.custom.plugin.CustomCordovaPlugin"
	            android:label="@string/app_name">
	        </activity>
	    </config-file>
	
	    <source-file src="platforms/android/src/jp/wizcorp/phonegap/plugin/wizViewManager/WizViewManagerPlugin.java" 
	            target-dir="src/jp/wizcorp/phonegap/plugin/wizViewManager"/>
	    <source-file src="platforms/android/src/jp/wizcorp/phonegap/plugin/wizViewManager/WizWebView.java" 
	            target-dir="src/jp/wizcorp/phonegap/plugin/wizViewManager"/>

    </platform>
    
    <license>MIT</license>

</plugin>
