<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-wizviewmanager"
	version="1.3.0">

	<name>WizViewManager</name>
	<description>This plugin allows you to create and control native UIWebViews.</description>
	<author>Ally Ogilvie - aogilvie@wizcorp.jp</author>
	<keywords>webview, view, wizcorp, wizard</keywords>
	
	<engines>
		<engine name="cordova" version=">=2.6.0" />
	</engines>

	<license>MIT</license>

	<js-module src="www/wizViewManager.js" name="WizViewManager">
		<clobbers target="window.wizViewManager" />
	</js-module>
	<js-module src="www/wizViewMessenger.js" name="WizViewMessenger">
		<clobbers target="window.wizViewMessenger" />
	</js-module>

	<!-- ios -->
	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="WizViewManager">
				<param name="ios-package" value="WizViewManager"/>
				<param name="onload" value="true" />
			</feature>
		</config-file>

		<!-- Plugin files -->
		<header-file src="src/ios/WizViewManager.h" />
		<source-file src="src/ios/WizViewManager.m" compiler-flags="-fno-objc-arc" />

		<header-file src="src/ios/WizWebView.h" />
		<source-file src="src/ios/WizWebView.m" compiler-flags="-fno-objc-arc" />

		<!-- Logger -->
		<source-file src="src/ios/WizDebugLog.h" compiler-flags="-fno-objc-arc" />

	</platform>

	<!-- android -->
	<platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="WizViewManager" >
				<param name="android-package" value="jp.wizcorp.wizviewmanager.WizViewManager"/>
				<url-filter value="wizpostmessage://"/>
			</feature>
		</config-file>

		<source-file src="src/android/WizViewManager.java" target-dir="src/jp/wizcorp/wizviewmanager"/>
		<source-file src="src/android/WizWebView.java" target-dir="src/jp/wizcorp/wizviewmanager"/>

	</platform>

</plugin>
